<!DOCTYPE html>
<html>
<head>
	<title>Adding City</title>
</head>
<body>
<h1>Adding City</h1>
<form method="POST">
	<table>
		<tr>
			<td>City Name</td>
			<td><input type="text" name="txt_city"></td>
		</tr>
		<tr>
			<td>Latitude</td>
			<td><input type="text" name="txt_lat"></td>
		</tr>
		<tr>
			<td>Longitude</td>
			<td><input type="text" name="txt_lon"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" name="btn_submit" value="Submit"></td>
		</tr>
	</table>
</form>
</body>
</html>