<!DOCTYPE html>
<html>
<head>
	<title>Weather Open API Index Page</title>
</head>
<body>
<h1>Project with APIs</h1>
<p>The project has been created on Flask Micro Web Framework. SQL Alchemy has been used as the ORM for the application. The app python file, as you might have realised by now, is the start point of this application. As mentioned in the description <a href="/api/collect">API Collect</a> and <a href="/api/similar">API Similar</a> has been captured.</p>
<p>In addition to these files, I have introduced a new file and route to add new city and the associated latitude and longitude details. The <a href="/addcity">Add City</a> requires , you to enter the details, which will be saved in the database. This has facilatated the expansion of the application.</p>
</body>
</html>